a:hover {
  color: grey!important;
}
p {
  line-height: 2em;
  text-align: justify;
}
nav {
  margin-bottom: 0!important;
  padding: 10px 0px 10px 0px;
}
nav .navbar-header .navbar-brand {
  background-image: url("../img/Audi-emblem-2016-black-1920x1080.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 50px;
  display: block;
  text-indent: -9999px;
}
.cont {
  height: 10%;
  width: 100%;
  overflow: hidden;
}
.cont hr {
  border-color: black;
  border: 3px solid;
}
.cont h1,
.cont h3 {
  text-align: center;
  color: black;
  text-shadow: 1px 1px 5px white;
  font-size: 10em;
  position: absolute;
  margin: auto;
  width: 100%;
  top: 52%;
}
.cont h3 {
  top: 67%;
  font-size: 5em;
}
.cont #vid {
  width: 100%;
}
#promote .row {
  margin: 50px 0px 50px 0px;
}
.tdi {
  background-image: url("../img/audiTdi.jpg");
  background-size: 50%!important;
  background-repeat: no-repeat;
  background-position: right -20px;
  height: 500px;
}
footer {
  background-color: #4c4c4c;
  color: white;
}
footer a {
  color: white;
}
footer .row .social-data {
  text-align: center;
}
footer .row .social-data ul li a {
  font-size: 2em;
  letter-spacing: 20px;
}
